header.blog {
  background: url(../project-1-sanctuary-helpers/sanctuary-helpers-final-images/blog-image.jpg);
  height: 60vh;
  background-size: contain;
  background-position: center;
}

.logo {
  text-transform: uppercase;
    span {
      display: block;
    }
}

.blog-topbar {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.blog ul {
  display: flex;
}

.blog a {
  font-family: $basic;
  text-transform: uppercase;
  padding: 20px;
  color: $black;
  font-weight: bold;
  transition: 0.3s;
    .blog a:hover {
      border-bottom: 5px solid $yellow;
    }
}

.blog h1 {
  margin: 85px 0;
}

// headers ends ^^^^ 

.flex-top {
  display: flex;
  // justify-content: space-between;
}

.image-container-aside,
.text-container-aside {
  box-shadow: -20px 20px $yellow;
  background: $yellow;
}

.blog-main {
  background: $ice;
}

.article-post {
  width: 60%;
  background: $white;
}