header.contact {
  background-image: url(../project-1-sanctuary-helpers/sanctuary-helpers-final-images/contact-image.jpg);
}

// main 

main.contact-page {
  background: $ice;
    form {
      background: $white;
      box-shadow: 20px 20px $yellow;
      width: 60%;
      position: relative;
      bottom: 90px;
        button[type="submit"] {
          margin-bottom: 25px;
        }
    }
    .contact-page-flex {
      display: flex;
      justify-content: space-between;
    }
    .contact-info {
      width: 40%;
      padding-left: 10%;
      p.email {
        padding-bottom: 20px;
      }
      ul {
        display: flex;
          li {
            padding-top: 70px;
            padding-right: 25px;
              a {
                color: $black;
              }
          }
      }
    }
}