// HEADER STYLES //
header.main-index {
  background: url(../project-1-sanctuary-helpers/sanctuary-helpers-final-images/header-home.jpg);
  height: 100vh;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  // position: relative;
}

.main-topbar-nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
    li {
      padding-left: 30px;
    }
      a {
        text-transform: uppercase;
        font-family: $basic;
        font-weight: bold;
        color: black;
        transition: 0.3s;
      }
        a:hover,
        a:focus {
          border-bottom: 5px solid $yellow;
        }
}

h1 {
  width: 50%;
  // border: 1px solid red;
  margin-top: 35px;
  margin-left: 130px; 
  font-weight: 500;
}

.main-index img {
  width: 66%;
  position: relative;
  right: calc(100vw * 0.1);
  top: 0; // this doesn't need to be calc
}


// FIRST SECTION STYLES //
.new-materials {
  margin: 200px auto 100px;
  display: flex;
  flex-basis: calc((100% / 2) - 70px);
  h2 {
    margin-top: 20px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
    div:nth-of-type(1) {
      width: calc(75% - 120px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
      img {
        box-shadow: -20px 20px $yellow;
      }
}


// SECOND SECTION (GALLERY) STYLES // 
.gallery { 
  background: $ice;
  display: flex;
  position: relative;
    ul {
      display: flex;
      justify-content: space-evenly;
    }
      li {
        // width: 50%;
        width: calc((100% / 3) - 25px);
        padding: 80px 0 80px;
      }
}

// THIRD SECTION (WITH ICONS)//
.custom-offers {
  position: relative;
  padding-top: 50px;
  padding-bottom: 70px;
  a {
    text-transform: uppercase;
    color: $black;
  }
  h3 {
    display: inline;
    position: relative;
  }
  h3:hover::after,
  h3:focus {
    content: "";
    position: absolute;
    bottom: 15px;
    left: 3%;
    width: 90%;
    height: 30%;
    background: $yellow;
    z-index: -1;
  }
  div {
    display: flex;
    li {
      position: relative;
      margin-left: 55px;
    }
  }
  i {
    position: absolute;
    left: -45px;
    top: 13px;
    &::after {
      content: "";
      width: 40px;
      height: 40px;
      background: $yellow;
      border-radius: 100%;
      position: absolute;
      left: -9px;
      top: -9px;
      z-index: -1;
    }
  }
}

.fa-file {
  padding-left: 4px;
}

// FOURTH SECTION (IMAGES OUT OF WRAPPER)
.new-locations {
  background: $ice;
  position: relative;
}

.flex-article {
  width: calc(50% - 5%);
  display: flex;
  flex-direction: column;
  &:nth-of-type(1) {
    text-align: right;
  }
}

.parent-of-articles {
  display: flex;
  justify-content: space-between;
}

.flex-article:nth-of-type(1) img {
  box-shadow: 20px 20px $yellow;
  width: calc(100% + (100vw * 0.05));
  position: relative;
  bottom: 50px;
  right: calc(100vw * 0.05);
  @media (min-width: 1333px) {
    width: calc(100% + ((100vw - 1200px) * 0.5));
    right: calc((100vw - 1200px) * 0.5);
  }
}

.flex-article:nth-of-type(2) img {
  box-shadow: -20px 20px $yellow;
  width: calc(100% + (100vw * 0.05));
  position: relative;
  top: 35px;
  @media (min-width: 1333px) {
    width: calc(100% + ((100vw - 1200px) * 0.5));
  }
}

.new-locations .wrapper {
  position: relative;
}

.text-container {
  // trbl
  margin: 5% 0;
  p {
    padding-bottom: 25px;
  }
}

.top {
  margin-top: 10%;
}

.bottom {
  margin-bottom: 10%;
}

// FIFTH SECTION (BANNER)
.banner {
  text-align: center;
  margin-bottom: 125px;
  div {
      width: 75%;
      margin: 0 auto;
    }
    h2 {
      margin-top: 125px;
    }
    p {
      padding-bottom: 30px;
      text-align: left;
    }
}

// FOOTER
footer {
  background: $black;
  color: $white;
  text-align: center;
  // margin-top: 125px;
}