// section ONE "new materials"

.new-materials {
  margin: 250px auto 150px;
  display: flex;
  // flex-wrap: wrap;
  flex-basis: calc((100% / 2) - 70px);
}

.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
    div:nth-of-type(1) {
      width: calc(75% - 90px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
      img {
        box-shadow: -20px 20px $yellow;
      }
}

// end of section ONE "new materials"

// section TWO gallery

.gallery { 
  background: $ice;
  display: flex;
    ul {
      display: flex;
      justify-content: space-between;
    }
      li {
        width: calc((100% / 3) - 20px);
        padding: 100px 0 100px;
      }
}