.new-materials {
  margin: 250px auto 100px;
  display: flex;
  // flex-wrap: wrap;
  flex-basis: calc((100% / 2) - 70px);
}

.container {
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
    div:nth-of-type(1) {
      width: calc(75% - 90px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
      img {
        box-shadow: -20px 20px $yellow;
      }
}

// end of section ONE "new materials"

// section TWO gallery

.gallery { 
  background: $ice;
  display: flex;
    ul {
      display: flex;
      justify-content: space-between;
    }
      li {
        width: calc((100% / 3) - 25px);
        padding: 80px 0 80px;
      }
}

// end of section TWO gallery 

// section THREE "customized offers" 

.custom-offers {
  margin: 80px 0 100px;
  position: relative;
    a {
      text-transform: uppercase;
      color: $black;
    }
      h3 {
        display: inline;
        position: relative;
      }
        h3:hover::after {
          content: "";
          position: absolute;
          bottom: 15px;
          left: 3%;
          width: 90%;
          height: 30%;
          background: $yellow;
          z-index: -1;
		    }
      }


.custom-offers div:nth-of-type(1) {
  display: flex;
    li {
      flex-basis: 50%;
      margin: 0 35px;
      justify-content: space-between;
      position: relative;
    }
}

.custom-offers div:nth-of-type(2) {
  display: flex;
    li {
      flex-basis: 50%;
      margin: 35px 35px 0 35px;
      position: relative;
    }
}

.custom-offers {
  i {
    position: absolute;
    left: -45px;
    top: 13px;
  }
    i::after {
      content: "";
      width: 40px;
      height: 40px;
      background: $yellow;
      border-radius: 100%;
      position: absolute;
      left: -9px;
      top: -9px;
      z-index: -1;
    }
}

.fa-file {
  padding-left: 4px;
}

// new locations/group programs section 

.positioner {
  position: relative;
}

.new-locations { 
  display: flex;
  justify-content: space-between;
  background: $ice;
}

.new-locations {
  .group-programs {
    padding: 70px;
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
  }
    .new-locations-heading {
      padding: 70px;
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      text-align: right;
      width: 80%;
      margin-left: 125px;
    }
      .group-programs p, .new-locations-heading p {
        padding-bottom: 20px;
      }
}

.new-locations {
  .table-chairs {
    width: 85%;
    position: relative;
    bottom: 40px;
    box-shadow: 20px 20px $yellow;
  }
    .wicker-chairs {
      width: 85%;
      position: absolute;
      display: flex;
      left: 105px;
      top: 460px;
      box-shadow: -20px 20px $yellow;
    }
}

.banner {
  text-align: center;
    h2 {
      margin-top: 125px;
    }
      div {
        width: 75%;
        margin: 0 auto;
      }
        div p {
          padding-bottom: 30px;
          text-align: left;
        }
}

footer {
  background: $black;
  color: $white;
  text-align: center;
  margin-top: 125px;
}