html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-only {
  display: none;
}

.invisible {
  display: none;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  line-height: 32px;
  letter-spacing: 2px;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body, nav, ul, li, h1, h2, h3, h4, h5, h6, p, ul, li, a, article, form, input {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Kumar One Outline", cursive;
  text-transform: uppercase;
  line-height: 64px;
  font-size: 3.4rem;
}

h2, h4, h3 {
  font-family: "Kumar One", cursive;
  font-size: 1.65rem;
  line-height: 58px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

h5 {
  font-family: "Kumar One", cursive;
  font-size: 1rem;
  line-height: 58px;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

h6 {
  font-size: 0.8rem;
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-family: "Kumar One", cursive;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.button {
  background: #065635;
  color: #F5F5F5;
  text-transform: uppercase;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 15px 5px 15px;
  display: inline-block;
}

.logo {
  font-family: "Kumar One", cursive;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  line-height: 24px;
}

p {
  font-family: "Lato", sans-serif;
}

.button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  background: #151514;
}

header.main-index {
  background: url(../project-1-sanctuary-helpers/sanctuary-helpers-final-images/header-home.jpg);
  height: 100vh;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
}

.main-topbar-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
}
.main-topbar-nav ul li {
  padding-left: 30px;
}
.main-topbar-nav ul a {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.main-topbar-nav ul a:hover,
.main-topbar-nav ul a:focus {
  border-bottom: 5px solid #F8FB05;
}

h1 {
  width: 50%;
  margin-top: 35px;
  margin-left: 130px;
  font-weight: 500;
}

.main-index img {
  width: 66%;
  position: relative;
  right: calc(100vw * 0.1);
  top: 0;
}

.new-materials {
  margin: 200px auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% / 2) - 70px);
      flex-basis: calc((100% / 2) - 70px);
}
.new-materials h2 {
  margin-top: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container div:nth-of-type(1) {
  width: calc(75% - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.container img {
  -webkit-box-shadow: -20px 20px #F8FB05;
          box-shadow: -20px 20px #F8FB05;
}

.gallery {
  background: #E0FDDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.gallery li {
  width: calc((100% / 3) - 25px);
  padding: 80px 0 80px;
}

.custom-offers {
  position: relative;
  padding-top: 50px;
  padding-bottom: 70px;
}
.custom-offers a {
  text-transform: uppercase;
  color: #151514;
}
.custom-offers h3 {
  display: inline;
  position: relative;
}
.custom-offers h3:hover::after,
.custom-offers h3:focus {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 3%;
  width: 90%;
  height: 30%;
  background: #F8FB05;
  z-index: -1;
}
.custom-offers div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.custom-offers div li {
  position: relative;
  margin-left: 55px;
}
.custom-offers i {
  position: absolute;
  left: -45px;
  top: 13px;
}
.custom-offers i::after {
  content: "";
  width: 40px;
  height: 40px;
  background: #F8FB05;
  border-radius: 100%;
  position: absolute;
  left: -9px;
  top: -9px;
  z-index: -1;
}

.fa-file {
  padding-left: 4px;
}

.new-locations {
  background: #E0FDDF;
  position: relative;
}

.flex-article {
  width: calc(50% - 5%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-article:nth-of-type(1) {
  text-align: right;
}

.parent-of-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-article:nth-of-type(1) img {
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
  width: calc(100% + (100vw * 0.05));
  position: relative;
  bottom: 50px;
  right: calc(100vw * 0.05);
}
@media (min-width: 1333px) {
  .flex-article:nth-of-type(1) img {
    width: calc(100% + ((100vw - 1200px) * 0.5));
    right: calc((100vw - 1200px) * 0.5);
  }
}

.flex-article:nth-of-type(2) img {
  -webkit-box-shadow: -20px 20px #F8FB05;
          box-shadow: -20px 20px #F8FB05;
  width: calc(100% + (100vw * 0.05));
  position: relative;
  top: 35px;
}
@media (min-width: 1333px) {
  .flex-article:nth-of-type(2) img {
    width: calc(100% + ((100vw - 1200px) * 0.5));
  }
}

.new-locations .wrapper {
  position: relative;
}

.text-container {
  margin: 5% 0;
}
.text-container p {
  padding-bottom: 25px;
}

.top {
  margin-top: 10%;
}

.bottom {
  margin-bottom: 10%;
}

.banner {
  text-align: center;
  margin-bottom: 125px;
}
.banner div {
  width: 75%;
  margin: 0 auto;
}
.banner h2 {
  margin-top: 125px;
}
.banner p {
  padding-bottom: 30px;
  text-align: left;
}

footer {
  background: #151514;
  color: #F5F5F5;
  text-align: center;
}

header.secondary-pages {
  background: url(../project-1-sanctuary-helpers/sanctuary-helpers-final-images/blog-image.jpg);
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header.secondary-pages .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header.secondary-pages .logo {
  text-transform: uppercase;
  width: 20%;
}
header.secondary-pages h1 {
  margin: 85px 0;
}

main.blog-page {
  background: #E0FDDF;
}

.main-article-parent {
  width: 75%;
  border: 1px solid red;
  position: relative;
  left: -125px;
  background: #FFFFFF;
  border-right: 5px solid #F8FB05;
  border-bottom: 5px solid #F8FB05;
}

.blog-image-container img {
  width: calc(100% - 20px);
  position: relative;
  top: -100px;
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
}

.text-content-of-article {
  padding-left: 125px;
  padding-right: 40px;
  width: 100%;
  background: white;
}
.text-content-of-article h2 {
  font-size: 1.5rem;
}
.text-content-of-article p {
  padding: 10px 60px 20px 0;
}
.text-content-of-article p:last-child {
  margin-bottom: 30px;
}

.date-and-author {
  font-style: italic;
  font-size: 0.9rem;
  letter-spacing: 0;
}
.date-and-author span {
  font-weight: bold;
}

aside {
  width: 20%;
  min-width: 320px;
  background: #F8FB05;
  padding-left: 20px;
  padding-bottom: 40px;
  position: absolute;
  top: 550px;
  right: 0;
  margin-top: 10%;
}
aside .written-content {
  width: 95%;
}
aside img {
  position: relative;
  bottom: 20px;
}

.comments {
  width: 100%;
  background: #E0FDDF;
}

h5 {
  padding-top: 30px;
}

h6 {
  text-transform: uppercase;
  margin: 10px 0 0 5px;
}

.comment, .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment img, .comment2 img {
  width: 60px;
  height: 60px;
  margin-top: 18px;
}

.comment2 {
  margin-top: 40px;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.comment-section-container {
  width: calc(75% - 125px);
}

.form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

fieldset {
  border: none;
}

input[type=text],
input[type=email],
textarea {
  background-color: inherit;
}

input[type=text],
input[type=email] {
  border: none;
  border-bottom: 1px solid #151514;
  width: calc(50% - 20px);
  padding: 20px;
}

input[type=text]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  color: #151514;
  text-transform: uppercase;
}

input[type=text]::-moz-placeholder, input[type=email]::-moz-placeholder, textarea::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  color: #151514;
  text-transform: uppercase;
}

input[type=text]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  color: #151514;
  text-transform: uppercase;
}

input[type=text]::-ms-input-placeholder, input[type=email]::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  color: #151514;
  text-transform: uppercase;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
textarea::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  color: #151514;
  text-transform: uppercase;
}

textarea {
  border: 1px solid #151514;
  width: 100%;
  height: 200px;
  margin: 30px 0 20px 0;
  padding: 20px;
}

button[type=submit] {
  background: #065635;
  font-family: "Kumar One", cursive;
  color: #F5F5F5;
  text-transform: uppercase;
  border: none;
  padding: 16px 15px 11px 15px;
  width: 100%;
  margin-bottom: 50px;
}

header.contact {
  background-image: url(../project-1-sanctuary-helpers/sanctuary-helpers-final-images/contact-image.jpg);
}

main.contact-page {
  background: #E0FDDF;
}
main.contact-page form {
  background: #F5F5F5;
  -webkit-box-shadow: 20px 20px #F8FB05;
          box-shadow: 20px 20px #F8FB05;
  width: 60%;
  position: relative;
  bottom: 90px;
}
main.contact-page form button[type=submit] {
  margin-bottom: 25px;
}
main.contact-page .contact-page-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
main.contact-page .contact-info {
  width: 40%;
  padding-left: 10%;
}
main.contact-page .contact-info p.email {
  padding-bottom: 20px;
}
main.contact-page .contact-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main.contact-page .contact-info ul li {
  padding-top: 70px;
  padding-right: 25px;
}
main.contact-page .contact-info ul li a {
  color: #151514;
}

@media (max-width: 1106px) {
  .new-materials {
    margin: 50px;
  }

  .banner p {
    text-align: center;
  }
}
@media (max-width: 1000px) {
  .main-index img {
    top: -5px;
    width: 78%;
  }

  h2, h3, h4 {
    font-size: 1.4rem;
  }

  .custom-offers a {
    font-size: 1.2rem;
  }
}
@media (max-width: 965px) {
  .new-materials img {
    margin-top: 60px;
  }
  .new-materials img p {
    margin-right: 40px;
  }
  .new-materials img a.button {
    margin-top: 20px;
  }
}
@media (max-width: 851px) {
  h2, h3 {
    line-height: 37px;
  }
}
@media (max-width: 768px) {
  .main-index img {
    top: 68px;
  }

  .new-materials img {
    margin-top: 124px;
  }

  .main-index h1 {
    margin-left: -8px;
  }

  .new-materials h2 {
    width: 55%;
  }
  .new-materials .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .new-materials .container div:nth-of-type(1) {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .new-materials .container div:nth-of-type(1) p {
    margin: 20px 0;
  }
  .new-materials .container div:nth-of-type(2) {
    width: 70%;
    margin: 0 auto;
  }
  .new-materials .container div:nth-of-type(2) img {
    margin-top: 50px;
  }

  .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0 30px 0;
  }
  .gallery ul li {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
  }
  .gallery ul li img {
    -webkit-box-shadow: 20px 20px #F8FB05;
            box-shadow: 20px 20px #F8FB05;
  }

  .custom-offers div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .custom-offers div i {
    top: 5px;
  }
  .custom-offers div p {
    padding-bottom: 35px;
  }

  .new-locations .parent-of-articles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .new-locations .parent-of-articles .flex-article {
    width: 85%;
  }
  .new-locations .parent-of-articles .flex-article div:nth-of-type(2) img {
    left: calc(100vw * 0.05);
  }

  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 0;
  }
  .banner div {
    margin-bottom: 85px;
  }
}
@media (max-width: 560px) {
  #closed {
    display: none;
    font-size: 1.5rem;
  }

  #drop-down-nav {
    display: none;
    position: absolute;
    width: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #E0FDDF;
    border-radius: 20px;
    top: 50px;
    right: 15px;
  }

  #drop-down-nav li {
    font-size: 0.8rem;
    padding: 0px;
  }

  .mobile-only {
    display: block;
    text-align: right;
    padding-top: 20px;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .main-index img {
    top: 150px;
    width: 100%;
  }

  .new-materials h2 {
    width: 100%;
  }

  .main-index h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 400px) {
  .main-index h1 {
    font-size: 2rem;
    font-family: "Kumar One", cursive;
    margin-top: 71px;
  }
}
@media (max-width: 320px) {
  .main-index h1 {
    font-size: 1.8rem;
    margin-top: 125px;
    line-height: 40px;
  }
}